<h1>All Contacts</h1>

<ul>
  <% @contacts.each do |contact| %>
    <li>
      <a href = "/contacts/<%= contact.id %>">
        <%= contact.first_name %> <%= contact.last_name %>
      </a>
  <% end %>
</ul>

<p>
  <a href = "/">Return to Main Menu</a>
</p>

<!-- In this case, .contacts refers to the attr_reader instance variable @contacts.
It is a method for reading the attributes from the array. Rolodex has methods defined to change its values.
Contact refers to a group of elements considered one value of the array contacts.-->