<!DOCTYPE html>
<html lang="en">

  <head>
  <meta charset="UTF-8">
    <title>The World's First Useful CRM Application</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>

  <header>

  </header>

  <body>
    <%= yield %>
  </body>

  <footer>

  </footer>

</html>