<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <header>
    <h1>HELLLO EVERYBODY THIS IS DOCTOR</h1>
    <nav>Main Menu
      <ul>
        <li>This</li>
        <li>is</li>
        <li>cool</li>
        <li>menu</li>
      </ul>
    </nav>
  </header>
  <body>
  <%= yield %>
  </body>
  <footer>
    GOODBYE COME AGAIN!
  </footer>
</html>