<h1>Create new Contact</h1>

<form action="/contacts" method="post">
  <p>First Name:<input type="text" name ="first_name"></p>
  <p>Last Name:<input type="text" name ="last_name"></p>
  <p>Email:<input type="text" name ="email"></p>
  <p>Notes:<input type="text" name ="notes"></p>
  <input type="submit" name ="Submit">
</form>

<p><a href = "/">Return to Main Menu</a></p>